body{
  counter-reset:section;
  text-align:center;
  background-image:url('homebackground.jpg');
  background-size: cover;
}

.container{
  position:relative;
  top:100px;
}


.container{
  position:relative;
  top:100px;
}

.container h1, .container span{
  font-family: helvetica, sans-serif;
}

.container h1{
  text-align: center;
  margin-bottom:10px;
	margin-top: 13px;
	font-size: 2em;
  color: white;
  font-family: monospace;
  font-style: oblique;
  font-weight: bold;
  text-shadow: 1px 1px pink;
}

form{
  margin-top:25px;
  display:inline-block;
}

.container span{
    margin-bottom:22px; 
    display:inline-block;
}

.container span:last-child{
   margin-bottom:-11px;
}

input{
  border:none;
  outline:none;
  display:inline-block;
  height:34px;
  vertical-align:middle;
  position:relative;
  bottom:10px;
  right:9px;
  border-radius:22px;
  width:220px;
  box-sizing:border-box;
  padding:0 18px; 
  opacity: 85%;
}

input[type="button"]{ 
  background:rgba(197,62,126,.45);
  color:white;
  position:relative;
  left:;
  top:25px; 
  width:100px;
  cursor:pointer;
}